<div class="container">
  <h1 class="text-color">
      <strong>Editar Usuário</strong>
  </h1>
 
     <form name="formEditar" ng-submit="formEditar.$valid && updateUsuario()" novalidate>
         
           <!-- Input CPF -->
        <div ng-class="{ 'has-error has-feedback form-group ' : formEditar.cpf.$error.cpfValido,
                         'form-group has-success has-feedback' :formEditar.cpf.$valid  }">
          <label class="control-label">CPF*</label>
          <input name="cpf" class="form-control" type="text" ng-model="usuario.cpf" ng-required="true" cpf-valido onlynumbers disabled/>
          <span ng-show="formEditar.cpf.$error.cpfValido" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span ng-show="formEditar.cpf.$valid" class="glyphicon glyphicon-ok form-control-feedback"</span>
        </div>
         
         <!-- Input NOME -->
        <div ng-class="{'has-error has-feedback form-group ' : formEditar.nome.$invalid
                        && !formEditar.nome.$pristine, 
                       'form-group has-success has-feedback' :formEditar.nome.$valid  }">
          <label class="control-label">Nome*</label>
          <input name="nome" class="form-control" type="text" ng-model="usuario.nome" ng-required="true" uppercase/>
          <span ng-show="formEditar.nome.$invalid && !formEditar.nome.$pristine" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span ng-show="formEditar.nome.$valid" class="glyphicon glyphicon-ok form-control-feedback"</span>
        </div>
         
        <!-- Input TELEFONE -->
        <div ng-class="{ 'has-error has-feedback form-group ' : formEditar.telefone.$invalid
                         && !formEditar.telefone.$pristine, 
                         'form-group has-success has-feedback' :formEditar.telefone.$valid  }">
          <label class="control-label">Telefone*</label>
          <input name="telefone" class="form-control" type="text" ng-model="usuario.telefone" ng-required="true" onlynumbers/>
          <span ng-show="formEditar.telefone.$invalid && !formEditar.telefone.$pristine" class="glyphicon glyphicon-remove form-control-feedback"></span>
          <span ng-show="formEditar.telefone.$valid" class="glyphicon glyphicon-ok form-control-feedback"</span>
        </div>
         
          <!-- Input ENDERECO -->
        <div ng-class="{'form-group has-success has-feedback' : formEditar.endereco.$valid && !formEditar.endereco.$pristine  }">
          <label class="control-label" >Endereço</label>
          <textarea name="endereco" class="form-control"  ng-model="usuario.endereco"/></textarea>
          <span ng-show="formEditar.endereco.$valid && !formEditar.endereco.$pristine" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        </div>
    
        <div><h5>* Campos obrigatórios</h5>
        <button type="submit" class="btn btn-success" ng-class="{'disabled btn-success' : formEditar.$invalid , 'btn-success' : formEditar.$valid}">
            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> 
            <strong>Atualizar</strong>
        </button>
        <button type="button" class="btn btn-primary" ng-click="irParaHome()">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            <strong>Voltar ao Painel</strong>
        </button>
        </div>
        <br>
       
    
      </form>

    </div>